<!DOCTYPE html>
<html>
<head>
	<title>Vård</title>
	<link rel="icon" type="image/png" href="../images/favicon.png"/>
	<link rel="stylesheet" href="/static/styles.css">
	<link rel="stylesheet" href="/static/components.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script src="/scripts/components.js"></script>
</head>
<body>
	<header-component small></header-component>
	<h2>Vad behöver du hjälp med?</h1>

	<div class="drawer-comp-items">

		<div class="drawer-comp-item">
			<drawer-component title="Liv & hälsa">
				<div class="drawer-comp-item-text">
					<p>Här får du veta mer om hur kroppen fungerar och råd om hur du kan leva hälsosamt. Du kan läsa om psykisk hälsa, sexuell hälsa, tandhälsa och om mat och träning. Det finns också texter om stress, övergrepp, alkohol och könsidentitet.</p>
				</div>
				<div class="drawer-comp-item-button">
					<button href="chat">Kontakta vården</button>
				</div>
			</drawer-component>
		</div>

		<div class="drawer-comp-item">
			<drawer-component title="Liv & hälsa">
				<div class="drawer-comp-item-text">
					<p>Här får du veta mer om hur kroppen fungerar och råd om hur du kan leva hälsosamt. Du kan läsa om psykisk hälsa, sexuell hälsa, tandhälsa och om mat och träning. Det finns också texter om stress, övergrepp, alkohol och könsidentitet.</p>
				</div>
				<div class="drawer-comp-item-button">
					<button href="chat">Kontakta vården</button>
				</div>
			</drawer-component>
		</div>

		<div class="drawer-comp-item">
			<drawer-component title="Liv & hälsa">
				<div class="drawer-comp-item-text">
					<p>Här får du veta mer om hur kroppen fungerar och råd om hur du kan leva hälsosamt. Du kan läsa om psykisk hälsa, sexuell hälsa, tandhälsa och om mat och träning. Det finns också texter om stress, övergrepp, alkohol och könsidentitet.</p>
				</div>
				<div class="drawer-comp-item-button">
					<button href="chat">Kontakta vården</button>
				</div>
			</drawer-component>
		</div>

	</div>


</body>
</html>
