<!DOCTYPE html>
<html>
<head>
	<title>Vård</title>
	<link rel="icon" type="image/png" href="../images/favicon.png"/>
	<link rel="stylesheet" href="/static/styles.css">
	<link rel="stylesheet" href="/static/components.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script src="/scripts/components.js"></script>
</head>
<body>
	<header-component small></header-component>
	<h2>Vad behöver du hjälp med?</h1>
		
	<drawer-component title="Liv & hälsa">
		<p>
			Här får du veta mer om hur kroppen fungerar och råd om hur du kan leva hälsosamt. Du kan läsa om psykisk hälsa, sexuell hälsa, tandhälsa och om mat och träning. Det finns också texter om stress, övergrepp, alkohol och könsidentitet.
		</p>
		<button href="chat">Kontakta vården</button>
	</drawer-component>

	<drawer-component title="Barn & gravid">
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		</p>
		<button href="chat">Kontakta vården</button>
	</drawer-component>
	
	<drawer-component title="Olyckor & skador">
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		</p>
		<button href="chat">Kontakta vården</button>
	</drawer-component>
	
	<drawer-component title="Sjukdomar & besvär">
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		</p>
		<button href="chat">Kontakta vården</button>
	</drawer-component>
	
	<drawer-component title="Behandling & hjälpmedel">
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		</p>
		<button href="chat">Kontakta vården</button>
	</drawer-component>
	
	<drawer-component title="Övrigt">
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		</p>
		<button href="chat">Kontakta vården</button>
	</drawer-component>

</body>
</html>