<!DOCTYPE html>
<html>
<head>
	<title>Vård</title>
	<link rel="icon" type="image/png" href="../images/favicon.png"/>
	<link rel="stylesheet" href="/static/styles.css">
	<link rel="stylesheet" href="/static/components.css">
	<link rel="stylesheet" href="/static/chat.css">
	<link rel="stylesheet" href="/static/chat-components.css">
	<link rel="stylesheet" href="/static/modal.css">

	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js" crossorigin="anonymous"></script>
	<script src="/scripts/components.js"></script>
	<script src="/scripts/chat-components.js"></script>
</head>


<body>
	<div class="flex-container">

		<!-- Site headers -->
		<header-component small></header-component>
		<div id="masterChatselecter" onclick="showAllChats();">Alla chater</div>
		<div class="chat-header">
			<div class="chat-image-container" id="chat-selector-container"></div>
			<div class="chat-header-border"></div>
		</div>

		<!-- Chat body -->
		<div class="chat-container">

			<!-- The chat -->
			<div class="chat">

				<!-- The list of messages -->
				<div id="chat-message-container"></div>
				<!-- Send menu -->
				<div class="chat-footer">
					<div class="writing-box">
						<input id="writing-input" placeholder="Aa"></input>
					</div>
					<div class="chat-send-button-container">
						<button id="sendbutton"><img src="/images/send.png"></button>
					</div>
				</div>

			</div>

		</div>

	</div>

	<button id="login-button">Logga in</button>

	<!-- Pop up box for login -->
	<div id="myModal" class="modal">

		<!-- Modal content -->
		<div class="modal-content">
			<h2>Logga in som</h2>
			<div class="modalButtonContainer">
				<input type="text" name="" placeholder="Ditt personnummer här" value="" id="pidInput">
				<form class="action-page" action="/action_page.php">
					<input class="color-picker" type="color" id="authColor" name="favcolor" value="#ff0000">
				</form>
				<button type="button" name="button" id="authButton">Klar</button>
			</div>
		</div>

	</div>

</body>

<script src="/scripts/chat.js"></script>
<script src="/scripts/chattpatient.js"> </script>
</html>
