<!DOCTYPE html>
<html>
<head>
	<title>Vård</title>
	<link rel="icon" type="image/png" href="../images/favicon.png"/>
	<link rel="stylesheet" href="/static/styles.css">
	<link rel="stylesheet" href="/static/components.css">
	<link rel="stylesheet" href="/static/chat.css">
	<link rel="stylesheet" href="/static/chat-components.css">

	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js" crossorigin="anonymous"></script>
	<script src="/scripts/components.js"></script>
	<script src="/scripts/chat-components.js"></script>
</head>

<body>
	<div class="flex-container">

		<header-component small></header-component>
		<div class="chat-container">
			<div class="chat-header">
				<div class="chat-image-container" id="chat-selector-container"></div>
				<div class="chat-header-border"></div>
			</div>

			<div class="chat">
				<div id="chat-message-container"></div>
				<div class="chat-footer">
					<div class="writing-box">
						<input id="writing-input" placeholder="Aa"></input>
					</div>
					<div class="chat-send-button-container">
						<button type="send-button" name="button" id="sendbutton"><img src="/images/send.png"></button>
					</div>
				</div>
			</div>

		</div>

	</div>
</body>

<script src="/scripts/chat.js"></script>
<script src="/scripts/chattpatient.js"> </script>
</html>
