<!DOCTYPE html>
<html>
<head>
	<title>Vård</title>
	<link rel="icon" type="image/png" href="/images/favicon.png"/>
	<link rel="stylesheet" href="/static/styles.css">
	<link rel="stylesheet" href="/static/components.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js" crossorigin="anonymous"></script>
	<script src="/scripts/components.js"></script>
</head>
<body>
	<header-component></header-component>
	<h1>Välkommen till vården</h1>
	<button href="/categories">Logga in</a>
	<button href="/categories">Fortsätt som gäst</button>
</body>
</html>