/**
* This css file contains the defalt styles for the site
*/

*{
	font-family: Arial;
}

html{
	height: 100%;
}

body{
	background:#C21B41;
	height: auto;
  margin: 0;
}

button{
	display: block;
	width: 90%;
	margin: .5vh auto;
	padding: 2vh;
	font-size: 3vh;
	border-radius: 1vh;
	border-color: transparent;
}

.header_text > h1 {
	color: white;
	font-size: 6vh;
	width: 90%;
	margin: 4vh auto;
	text-align: center;
	width: 90%;
}

/*
h1{
	color: white;
	font-size: 6vh;
	width: 90%;
	margin: 4vh auto;
	text-align: center;
	width: 90%;
}
*/

h2{
	color: white;
	font-size: 3vh;
	width: 90%;
	margin: 1vh auto;
	text-align: center;
	width: 90%;
}

p{
	font-size: 2vh;
}


.logo2{

}

.cH{
	display: block;
	margin: 0 auto;
}

.p1{
	padding: 4%;
}

.w0{
	width:0%;
}

.w10{
	width:10%;
}

.w20{
	width:20%;
}

.w30{
	width:30%;
}

.w40{
	width:40%;
}

.w50{
	width:50%;
}

.w60{
	width:60%;
}

.w70{
	width:70%;
}

.w80{
	width:80%;
}

.w90{
	width:90%;
}

.w100{
	width:100%;
}


.h0{
	height:0%;
}

.h10{
	height:10%;
}

.h20{
	height:20%;
}

.h30{
	height:30%;
}

.h40{
	height:40%;
}

.h50{
	height:50%;
}

.h60{
	height:60%;
}

.h70{
	height:70%;
}

.h80{
	height:80%;
}

.h90{
	height:90%;
}

.h100{
	height:100%;
}
